
@import '../../../../global.scss';

.blockNumber{
    color: $base-color;
}

.gasUsed{
    background: $ice-disabled-color;
    padding: 5px;
    border-radius: 3px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.infoList{
    line-height:1.5;
    color: $ice-text-color;
}
.blockTime{
    color: $ice-sub-text-color;
}