
@import '../../../../global.scss';

.blockNumber{
    color: $base-color;
}

.gasUsed{
    background: $ice-disabled-color;
    padding: 5px;
    max-width: 100px;
    border-radius: 3px;
    text-align: right;
}