$base-color: #23C9A7;
$base-sub-color: #91FFE9;
$ice-bottom-bg: #C1C6CC;
$ice-text-color: #5E768B;
$ice-sub-text-color: #91A1AF;
$ice-background-primary: #1F2340;
$ice-background-secondary: #F4F6FA;
$ice-background-content: #141426;;


a:visited, a:link{
    color: $base-color
}
