$page-container-width: 90%;
$base-color: #23C9A7;
$base-sub-color: #91FFE9;
$ice-bottom-bg: #C1C6CC;
$ice-text-color: #5E768B;
$ice-sub-text-color: #91A1AF;
$ice-dark-text-color:#343C55;
$ice-background-primary: #1F2340;
$ice-background-secondary: #F4F6FA;
$ice-background-content: #141426;
$ice-disabled-color: rgba(31, 35, 64, 0.1);



a:visited, a:link{
    color: $base-color
}
